<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>在线网页取证系统</title>
    <link rel="stylesheet" href="/static/css/styles.css">
  </head>
  <body>
    <div class="button-wrapper"><a href="/" class="button1">返回首页</a></div>
    <div class="container">
      <form action="/import_fix" method="POST" enctype="multipart/form-data">
        <h1>导入固定</h1><br>
        <div class ="input-row">
          <label for="file">选择文件：</label>
        </div>
        <input type="file" name="file" id="file"><br><br>
        <div class="input-row">
                <label for="request_headers">请求头:</label>
                <textarea class="input-textarea" name="request_headers" placeholder="GET / HTTP/2 Host: www.example.com User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:109.0) Gecko/20100101 Firefox/112.0 Cookie: p-b=58y0gDkcxMZNwe80"></textarea>
        </div>
        <div class="thread-process-row">
            <div class="select-container">
                <label for="num_threads">线程数:</label>
                <select id="num_threads" name="num_threads">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="4" selected>4</option>
                    <option value="8">8</option>
                    <option value="16">16</option>
                    <option value="32">32</option>
                    <option value="64">64</option>
                    <option value="128">128</option>
                </select>
            </div>
            <div class="select-container">
                <label for="num_processes">进程数:</label>
                <select id="num_processes" name="num_processes">
                    <option value="1">1</option>
                    <option value="2" selected>2</option>
                    <option value="4">4</option>
                    <option value="8">8</option>
                </select>
            </div>
        </div>
          <div class="button-row">
              <input type="submit" value="开始固定">
              {% with messages = get_flashed_messages(with_categories=True) %}
              {% if messages %}
              <div class="alert-container">
                {% for category, message in messages %}
                {% if category == 'success' %}
                <div class="alert alert-success" role="alert">
                  <p style="color: green">{{ message }}</p>
                </div>
                {% endif %}
                {% endfor %}
              </div>
              {% endif %}
              {% endwith %}
          </div>
      </form>
    </div>
  </body>
</html>