<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>在线网站取证系统</title>
</head>
<body>
    <div class="module-container">
        <a href="/intelligent_fix" class="module bg-intelligent-fix">
            <img src="/static/img/intelligent_fix.svg" alt="智能固定">
            <div>智能固定</div>
        </a>
        <a href="/import_fix" class="module bg-import-fix">
            <img src="/static/img/import_fix.svg" alt="导入固定">
            <div>导入固定</div>
        </a>
        <a href="/conversion_table" class="module bg-conversion-table">
            <img src="/static/img/conversion_table.svg" alt="转换表格">
            <div>转换表格</div>
        </a>
        <a href="/operation_manual" class="module bg-operation-manual">
            <img src="/static/img/operation_manual.svg" alt="操作指南">
            <div>操作指南</div>
        </a>
    </div>
</body>
</html>
