<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>在线网页取证系统</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <div class="button-wrapper"><a href="/" class="button1">返回首页</a></div>
  <div class="container">
    <h1>视频演示</h1><br>
    <video width="770" height="400" controls>
      <source src="/static/video/operation.mp4" type="video/mp4">
    </video>
  </div>
</body>
</html>